$primaryColor: #e13a65;
.btn {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: white;
  box-shadow: none;
  border-radius: 25px;
}

.card {
  width: 85%;
}

@media (max-width: 375px) {
  .row .ilustration-container {
    text-align: center !important;
  }
}
